/* Estilos para telas menores (max-width: 500px) */
@media (max-width: 500px) {
    .c1 {
      background-color: #005C8B;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  
    .c1 p {
      text-align: center;
      padding: 5%;
      color: #fff;
      margin: 10px;
    }
  
    .form {
        list-style: none;
        padding: 5px;
        text-align: left;
      }
      
      .checkbox-label {
        display: flex;
        align-items: center;
        margin-left: 10%;
        color: #fdbd33;
        font-size: 18px;
        display: inline;
        align-items: center;
      }
      
      .custom-checkbox {
        margin-right: 10px;
      }
      
      .custom-checkbox input[type='checkbox'] {
        display: none;
      }
      
      .custom-checkbox input[type='checkbox']:checked + .custom-checkbox::before {
        content: '\2713';
        font-size: 18px;
        color: #005C8B;
        text-align: center;
        line-height: 20px;
      }
    #back_c1 {
        margin-top: 5%;
      position: absolute;
      font-size: 14px;
      text-decoration: none;
      color: #005C8B;
      background-color: #ffffff;
      border-radius: 10px;
      cursor: pointer;
      margin-left: 28%;
      padding: 12px;
    }
  
    #next_c1 {     
      margin-top: 5%;  
      position: absolute;
      font-size: 14px;
      text-decoration: none;
      color: #005C8B;
      background-color: #ffffff;
      border-radius: 10px;
      cursor: pointer;
      margin-left: 55%; 
      padding: 12px;
    }

  }
  
  @media (min-width: 501px) {
    .c1 {
        background-color: #005C8B;
        position: absolute;
        margin-left: 30%;
        width: 40%;
        height: 100%;
    }
  
    .c1 p {
        text-align: center;
        padding: 5%;
        color: #fff;
        margin: 10px;
      }
    
      .form {
          list-style: none;
          padding: 5px;
          text-align: left;
        }
        
        .checkbox-label {
          display: flex;
          align-items: center;
          margin-left: 22%;
          color: #fdbd33;
          font-size: 18px;
          display: inline;
          align-items: center;
        }
        
        .custom-checkbox {
          margin-right: 10px;
        }
        
        .custom-checkbox input[type='checkbox'] {
          display: none;
        }
        
        .custom-checkbox input[type='checkbox']:checked + .custom-checkbox::before {
          content: '\2713';
          font-size: 18px;
          color: #005C8B;
          text-align: center;
          line-height: 20px;
        }
      #back_c1 {
          margin-top: 5%;
        position: absolute;
        font-size: 14px;
        text-decoration: none;
        color: #005C8B;
        background-color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
        margin-left: 28%;
        padding: 12px;
      }
    
      #next_c1 {     
        margin-top: 5%;  
        position: absolute;
        font-size: 14px;
        text-decoration: none;
        color: #005C8B;
        background-color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
        margin-left: 55%; 
        padding: 12px;
      }
  }
  